In [2]:
# Set local python and nltk paths
import sys
sys.path.insert(0,'/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages')
sys.path.insert(0,'/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages/setuptools-27.2.0-py2.7.egg')
sys.path.insert(0,'/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages/IPython/extensions')
sys.path
# import nltk
# nltk.data.path = ['/vol/medic02/users/ag6516/nltk_data']
# sys.path.insert(0,'/vol/medic02/users/ag6516/negex/negex.python')

['/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages/IPython/extensions',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages/setuptools-27.2.0-py2.7.egg',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages',
 '',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python27.zip',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/plat-linux2',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/lib-tk',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/lib-old',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/lib-dynload',
 '/homes/ag6516/.local/lib/python2.7/site-packages',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages/PIL',
 '/vol/medic02/users/ag6516/miniconda/envs/TensorFlowCPU/lib/python2.7/site-packages/IPython/extensions',
 '/homes/ag6516/.ipython']

In [3]:
import os
import csv
import json
import pickle
import pandas as pd
import math

In [5]:
dir = ('/vol/medic02/users/ag6516/brain_ct/data/outputs/')
# dir = ('/Users/Aydan/PhD/x_ray_fracture_localisation/')
df = pd.read_csv(dir + 'Reports_Sample.csv')

In [6]:
print df.columns.values
print df.count()
#df.set_index('Anon ID', inplace=True)
df.head()

['Anonomised ID:' 'Unnamed: 1' 'Date and Time of precise onset'
 'S1AgeOnArrival' 'S1Gender' 'S2NihssArrival' 'CT TIME'
 'Precise Onset till CT Time (hh:mm)' 'Same but minutes' 'CT REPORT']
Anonomised ID:                        949
Unnamed: 1                            100
Date and Time of precise onset        949
S1AgeOnArrival                        947
S1Gender                              949
S2NihssArrival                        909
CT TIME                               949
Precise Onset till CT Time (hh:mm)    949
Same but minutes                      949
CT REPORT                             688
dtype: int64

,Anonomised ID:,Unnamed: 1,Date and Time of precise onset,S1AgeOnArrival,S1Gender,S2NihssArrival,CT TIME,Precise Onset till CT Time (hh:mm),Same but minutes,CT REPORT
0,CHNT0001,NaN,1/22/2018 14:30,79.0,M,2,1/22/2018 19:49,0:05:19,319.0,NaN
1,CHNT0002,NaN,1/19/2018 8:00,76.0,M,2,1/20/2018 1:55,0:17:55,1075.0,REPORT TEXT START ========== \n\nThis is the F...
2,CHNT0003,NaN,1/5/2018 15:00,84.0,M,23,1/6/2018 2:43,0:11:43,703.0,REPORT TEXT START ========== \n\nThis is the F...
3,CHNT0004,NaN,1/2/2018 8:00,51.0,M,5,1/3/2018 2:05,0:18:05,1085.0,REPORT TEXT START ========== \n\nThis is the F...
4,CHNT0005,NaN,12/20/2017 9:42,48.0,M,20,12/20/2017 17:07,0:07:25,445.0,NaN

In [17]:
chnt_count = 0
ct_count = 0
conc_count = 0
head_count = 0
angio_count = 0
characters = 0
report_len_count = []
with open('reports_sample.txt', 'a') as new_file:
    for i, exam in df.iterrows():
        #if characters >= 50000:
        #    break
        if 'CHNT' in exam['Anonomised ID:']:
            chnt_count+=1
            if not pd.isnull(exam['CT REPORT']):
                report_len_count.append(len(exam['CT REPORT'].split(' ')))
                ct_count+=1
                new_file.write('\n\n' + exam['Anonomised ID:'] + ': ')
                for line in exam['CT REPORT'].split('\n'):
                    if line.rstrip():
                        new_file.write(line)
                # characters += len(exam['Anonomised ID:'])
                # characters += len(exam['CT REPORT'])
                if 'Conclusion' in exam['CT REPORT']:
                    conc_count+=1
                if 'HEAD' in exam['CT REPORT']:
                    head_count+=1
                if 'Angio' in exam['CT REPORT']:
                    angio_count+=1   
print chnt_count, ct_count, conc_count, head_count, angio_count

647 514 52 1 67

In [16]:
import numpy as np
arr = np.array(report_len_count)

print np.mean(arr), np.std(arr)

138.953307393 83.9028398551

In [8]:
#print df['CT REPORT'][1]

for line in df['CT REPORT'][1].split('\n'):
                    if line.rstrip():
                        print len(line.split(' '))

5
7
15
5
3
31
2
9
44
2
11
10
14
2
9
3
6
10
10
14
6

In [ ]:
for line in df['CT REPORT'][1].split('\n'):
                    if line.rstrip():
                        print len(line.split(' '))